/* CSS STYLES */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    color: #8f9bad;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15 px;
    line-height: 1.7;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.relative {
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #203656;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin: 20 px 0;
}

a {
    color: #ad1deb;
    outline: 0;
    text-decoration: none;
}

a:hover {
    color: #203656;
}

a:focus {
    outline: 0;
}


/* ************************ Style CSS **************** */

.site-wrapper .main-overlay {
    /* opacity: 0;
    visibility: hidden; 
    filter: blur(2px); */
    background: #fff;
    /* position: fixed; */
    height: 100vh;
    width: 100%;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.site-wrapper .main-overlay.active {
    opacity: 0.6;
    visibility: visible;
}

.header-default {
    padding: 40px 0;
    position: relative;
    width: 100%;
}

.header-default .navbar-nav {
    margin-left: 50px;
}

.header-default.clone {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    right: 0;
    padding: 25 px 0;
    transform: translate(-100%);
    transition: 0.2s transform cubic-bezier(0.3, 0.73, 0.3, 0.7);
    z-index: 4;
}

body.down .header-default.clone {
    transform: translateY(0);
}

.navbar-nav {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.navbar-nav .nav-link {
    padding: 0.439rem 1rem;
    color: #79889e;
}

.navbar-nav .nav-link:hover {
    color: #203656;
}

.navbar-nav .nav-link:active {
    color: #fff;
    background: #6a3093;
    border-radius: 25px;
    background-color: #6e72fc;
    background-image: linear-gradient(315deg, #6e72fc 0%, #ad1deb 74%);
}

.navbar-brand {
    padding: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    color: #212529;
    text-align-last: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 8px 20px rgba(32, 54, 86, 0.2);
}

.dropdown-menu::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: -10px;
    left: 25%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10 px solid #fff;
}

.dropdown-menu li::after {
    content: "";
    background: #ebebeb;
    background: linear-gradient(to right, #ebebeb 0%, transparent 100%);
    display: block;
    height: 1px;
    width: 100%;
}

.dropdown-item {
    content: "";
    background: #ebebeb;
    background-color: transparent;
    display: block;
    border: 0;
    padding: 0.6rem 1.5rem;
    clear: both;
    font-weight: 13px;
    color: #79889e;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
}

.dropdown-item:hover {
    margin-left: 5px;
}

.dropdown-item:focus .dropdown-item:hover {
    color: #ad1deb;
    background-color: transparent;
}

.dropdown-divider {
    height: 0;
    margin: 0.1rem 0;
    overflow: hidden;
    border-top: 1 px solid #ddd;
}

.dropdown-toggle ::after {
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
    font-size: 8px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 0;
    border-left: transparent;
    content: "\25BC";
}